@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
  --primary: #222831;
  --secondary: #f05454;
  --teardnary: #30475e;
  --white: #ffffff;
  --white-100: #dddddd;
  --black: #000000;
  --padding: 1rem;
  --radius: 15px;
}

body {
  background-color: var(--primary);
  font-family: "League Spartan", sans-serif;
}

a {
  text-decoration: none;
}

.home_page {
  margin-top: 4rem;
}

/* HELPER CLASSES STARTS HERE*/

.postion-fixed {
  position: fixed;
}

/* HELPER CLASSES ENDS HERE*/

.nav_logo {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  position: fixed;
  top: 2rem;
  left: 1.5rem;
  z-index: 9;
}

.sidebar_container {
  background-color: var(--teardnary);
  width: 20%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  color: var(--white);
  right: 1.5rem;
  top: 3rem;
  padding: 1rem 0;
}

.sidebar_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .8rem;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  background-color: var(--primary);
  font-size: 0.9rem;
  text-transform: capitalize;
  font-weight: bold;
  text-align: center;
  margin: 0 1rem;
  border-radius: 30px;
  cursor: pointer;
}

.sidebar_btn img{
  width: 2rem;
  position: absolute;
  left: 10%;
  z-index: 1;
}

.sidebar_btn:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: var(--secondary);
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

.sidebar_btn:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

.sidebar_btn p {
  transition: all 0.3s ease-in-out;
  z-index: 20;
}

.sidebar_btn:hover p {
  animation: scaleUp 0.3s ease-in-out;
}

.links_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--teardnary);
  width: 20%;
  border-radius: 20px;
  right: 1.5rem;
  top: 83%;
  padding: 0.5rem 0;
}

.social_icons {
  width: 2rem;
  border-radius: 100%;
  color: var(--white);
  padding: 0.5rem;
  background-color: var(--primary);
}

.social_icons:hover {
  animation: squeeze3124 0.9s both;
}

/* Social Icon Animation Starts Here */

@keyframes squeeze3124 {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

/* Social Icon Animation Ends Here */

/* Link Animation Starts Here */

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

/* Link Animation Ends Here */
.card {
  border-radius: var(--radius);
  background-color: var(--teardnary);
}
.card_img_container{
  height: 150px;
}
.card_img_container img {
  width: 100%;  
  height: 100%;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.card_content_container {
  padding: var(--padding);
}

.card_link_container > h1 {
  color: var(--white);
}

.card_content_container > p {
  color: var(--white-100);
}

.card_link_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
